body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #e9edf5;
  color: #3d3d3d;
}

header {
  background-color: #373434;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

form {
  color: #3d3d3d;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.user-input {
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.user-search-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2a97f1;
  color: #fff;
  cursor: pointer;
}

#search-results {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

#search-results p {
  color: #3d3d3d;
}

main {
  padding: 50px 0;
  margin-top: -20px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #3d3d3d;
  text-align: center;
  font-size: 30px;
}

h4 {
  color: #7f95dc;
}

#city-container, #forecast-container {
  background-color: #f7f7f7;
  padding: 30px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#city-container .card {
  background-color: #fff;
  border: none;
  padding: 20px;
  border-radius: 20px;
}

#city-container h3 {
  color: #3d3d3d;
  margin-bottom: 20px;
}

#forecast-container .card {
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px;
}

#forecast-container h5 {
  color: #3d3d3d;
  margin-bottom: 10px;
}

.forecast-card {
  min-width: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.saved-city {
  margin-bottom: 10px;
}

.saved-city button {
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  text-align: left;
  width: 100%;
  text-decoration: none;
}

.saved-city button:hover {
  background-color: #ddd;
}

